@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: rgba(255, 180, 82, 0.452);
    color: rgb(255, 102, 0);
}
h1 {
    margin-left: 200px;
    color: black;
}
h3 {
    margin: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#canvas {
    background: rgba(255, 180, 82, 0.589);
    height: 60vh;
    width: 80vw;
    border: 1px solid black;
    margin: auto;
}
footer {
    margin: 0px;
    text-align: center;
}